# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
# Operating system specfic files
.DS_Store
# Test files
raspi/add.py
raspi/print.py
# JSON
topsides/json/controlProfiles.json
# Visual Studio Code
.vscode/
raspi/json/Raspi.json
topsides/json/Topsides.json