<html>
    <head>
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/EER2019.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/joystickTest.js')}}" type="text/javascript"></script>
        
        <script>
            setInterval(function(){
                var joyValues = getNewJoystickValues();
                if(joyValues == false){
                    return;
                }else{
                    runPythonPOST("joystickValueTest", JSON.stringify(joyValues), function(){
                        console.log("new values sent to server!");   
                    });
                }
            }, 80);
        </script>
    </head>
    <body>
        <p style="font-size: 24px; font-weight: bold;">Troake</p>
        <p style="font-size: 18px;">Blank page for testing joystick inputs. Values are read on loop, currently twice every second just for testing. If the values for the joystick are different than the last read, the new values are sent to the server.</p>
        <p style="font-size: 18px">Open up the developer's panel to see the posts to the server and console for logging</p>
    </body>
</html>