<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Profiles</title>
        <link href="static/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/controlProfileEdit.css" rel="stylesheet" type="text/css"/>

        <script src="static/js/jquery-3.3.1.min.js"></script>
        <script src="static/js/joystickTest.js"></script>
        <script src="static/js/profileHandle.js"></script>
    </head>
    <body>

        <div id="panelSelectProfile">
            <div class="profile-select-container">
                <h1>SELECT PROFILE</h1>
                {% for profile in profiles %}
                    <div class="profile-panel">
                        <p>{{profile["name"]}}</p>
                        <button class="btn btn-primary" onclick="editProfile({{profile['id']}})">EDIT</button>
                        <button class="btn btn-danger" onclick="deleteProfile({{profile['id']}})">DELETE</button>
                    </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>
