<html>
    <head>
        <link href="static/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/controlProfileEdit.css" rel="stylesheet" type="text/css"/>
        
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/EER2019.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/ControlOptions.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/joystickHandle.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/ProfileHandle.js')}}" type="text/javascript"></script>
        <script>
            var profileToEdit = null;
            var PROFILEHANDLE;
            var CONTROLOPTIONS;
            var gamepads = getJoysticks();

            runPythonGET("getProfiles", null, function(data){
                PROFILEHANDLE = new ProfileHandle(data);
            });

            runPythonGET("getControlOptions", null, function(data){
                CONTROLOPTIONS = new ControlOptions(data);
            });

            

            /**
             * Edit Modal fill logic
             * - input elements have a class of control-edit-input and an attribute "input-id"
             *      - input-id determines what feild from the json will fill that spot
             *      - EX: for input-id="name", the name of the profile will fill that
             * - when a profile is saved the values of the input-id in the json will be set the the value of that input
             * 
            */
            
            function editProfile_click(id){ //sets all the fields in the edit panel to the current values of that profile in the json and opens the panel
                var profile = PROFILEHANDLE.getProfileById(id);
                profileToEdit = profile;
                clearProfileEdit();

                $.each($(".control-edit-input"), function(i, element){
                    let field = $(element).attr("input-id");
                    let val = profile[field];

                    element.value = val;
                });


                $.each(profile["gamepads"], function(i, gamepad){
                    addGamepadInfo(i, gamepad);
                });
            }

            function addGamepadInfo(i, gamepad){
                let gamepadSelectorString = "<div class='selector' id='gamepadSelector" + i + "' onclick='openGamepadPanel_click(" + i + ")'>" + gamepad['name'] + "</div>";
                let gamepadEditPanelString = "<div id='gamepadEdit" + i + "' class='gamepad-edit " + (i == 0? "visible":"") + "'>";

                $.each(gamepad["axes"], function(i2, axes){
                    gamepadEditPanelString += "<select onchange='profileToEdit[" + '"' + 'gamepads' + '"' + "]["+i+"][" + '"' + "axes" + '"' + "]["+i2+"] = this.value;' class='joystick-axis-input' input-id='" + i2 + "'><option value=''></option>" + CONTROLOPTIONS.getAxesOptionsString() + "</select>";

                });

                $.each(gamepad["buttons"], function(i2, button){
                    gamepadEditPanelString += "<select onchange='profileToEdit[" + '"' + 'gamepads' + '"' + "]["+i+"][" + '"' + "buttons" + '"' + "]["+i2+"] = this.value; class='button-input' input-id='" + i2 + "'>" + CONTROLOPTIONS.getButtonOptionsString() + "</select>"
                });

                gamepadEditPanelString += "</div>"

                $("#joystick-selector-container").append(gamepadSelectorString);
                $("#current-joystick-container").append(gamepadEditPanelString);

                $.each($(".joystick-axis-input"), function(i2, obj){
                    $(obj).val(gamepad["axes"][i2]);
                });

                $.each($(".button-input"), function(i2, obj){
                    $(obj).val(gamepad["buttons"][i2]);
                });
            }

            function openGamepadMenu_click(){
                gamepads = getJoysticks();
                console.log(gamepads);
                $("#addGamepadContainer").html("");
                let noGamepads = true;
                $.each(gamepads, function(i, obj){
                    if(obj != undefined){
                        noGamepads = false;
                        $("#addGamepadContainer").append("<div class='gamepad-selector' onclick='addGamepad(" + i + "); $(" + '"' + "#modalAddGamepad" + '"' + ").toggleClass(" + '"' + "visible" + '"' + ");'><p>" + obj["id"] + "</p></div>");
                    }
                });

                if(noGamepads){
                    $("#addGamepadContainer").append("<p>No gamepads connected.</p><p>If there is one connected try moving an axis and retry adding it. If it still doesn't show up, the gamepad may be broken or not suppoerted.</p>")
                }
            }

            function clearProfileEdit(){
                $.each($(".control-edit-input"), function(i, obj){
                    obj.value = "";
                });

                $("#joystick-selector-container").html("");
                $("#current-joystick-container").html("");
            }

            function addGamepad(index){
                gamepad = gamepads[index];
                
                newGamepad = {"name":"", "buttons": [], "axes":[]}
                
                $.each(gamepad["axes"], function(i, obj){
                    newGamepad['axes'][i] = '';
                });

                $.each(gamepad["buttons"], function(i, obj){
                    newGamepad['buttons'][i] = '';
                });
                
                profileToEdit["gamepads"].push(newGamepad);
                addGamepadInfo(profileToEdit["gamepads"].length, newGamepad);

                console.log(profileToEdit);
            }

            function newProfile_click(id){
                clearProfileEdit();
                profileToEdit = {"name":"", "id": PROFILEHANDLE.getNextId(), "gamepads":[]};
            }

            function openGamepadPanel_click(open){
                $(".gamepad-edit").toggleClass("visible", false);
                $("#gamepadEdit"+open).toggleClass("visible", true);
            }

            function saveProfile_click(){
                PROFILEHANDLE.saveProfile(profileToEdit);
            }
        </script>
    </head>
    <body>

        <div id="panelSelectProfile">
            <div class="profile-select-container">
                <h1>SELECT PROFILE</h1>
                {% for profile in profiles %}
                    <div class="profile-panel">
                        <p>{{profile["name"]}}</p>
                        <button class="btn btn-primary modal-trigger" modal-id="modalEditProfile" onclick="editProfile_click({{profile['id']}})">EDIT</button>
                        <button class="btn btn-danger modal-trigger" modal-id="modalEditProfile" onclick="deleteProfile({{profile['id']}})">DELETE</button>
                    </div>
                {% endfor %}
                <div class="profile-panel">
                    <p>New Profile</p>
                    <button class="btn btn-primary modal-trigger" modal-id="modalEditProfile" onclick="newProfile_click();">NEW</button>
                </div>
            </div>
        </div>
        <div id="modalEditProfile" class="modal">
            <div class="modal-content"> 
                <div class="header">
                    <input class="input-text control-edit-input" input-id="name" style="clear: both; display: block;" type="text" placeholder="Name" />
                </div>
                <div class='btn btn-primary modal-trigger' style="width: 130px; text-align: center;" modal-id='modalAddGamepad' onclick='openGamepadMenu_click();'>Add Gamepad</div>
                <div id="joystick-selector-container">
                    <!-- Placeholder for joystick selectors to go -->

                </div>
                <div id="current-joystick-container">

                </div>
                <button class="btn btn-primary" onclick="saveProfile_click()">Save</button>
            </div>
        </div>

        <div id="modalAddGamepad" class="modal">
            <div class="modal-content" id="addGamepadContainer">

            </div>
        </div> 

    </body>
</html>