<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gui</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/gui.css')}}" type="text/css"  />
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css"  />

  <script src="{{url_for('static', filename='js/joystick.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/EER2019.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/gui.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/ControlHandler.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/ControlOptions.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/ProfileHandler.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/NotificationHandler.js')}}" type="text/javascript"></script>
  <script>
    var profileHandler = new ProfileHandler();
    var controlHandler = new ControlHandler();
    var controlOptions = new ControlOptions();
    var notificationHandler = new NotificationHandler();

    $(document).ready(function() {
      //Set up Notification Handler
      notificationHandler.setSnackbar("notification");
      notificationHandler.start();

      //Set up profile changer
      profileHandler.profiles.forEach(function(profile){
        $(".profile-select").append("<option value='" + profile.id + "'>" + profile.name + "</option>")
      });
      $(".profile-select").change(function(){
        controlHandler.profile = profileHandler.getProfileById($(this).val());
        notificationHandler.sendNotification("Profile set to " + controlHandler.profile.name, "info");
      });




      // Handle sliders
      var sliderInputs = $(".slider");
      sliderInputs.on('input', function() {
        var inputAttribute = $( this ).attr('name');
        var inputValue = $( this ).val();
        getNewSliderValues(inputAttribute, inputValue)
      });

      // Handle count down timer
      var timer = $('#startTimer');
      timer.click(function() {
        var fifteenMinutes = 60 * 15,
        display = $('#timerText');
        startCountDown(fifteenMinutes, display);
      });

      // Handle preset slider button
      var preset = $('#presetButton');
      preset.click(function() {
        var inputAttribute = ["surge", "heave", "sway", "yaw", "pitch", "roll"];
        var inputValue = $('#presetValue').val();
        getPresetValue(inputAttribute, inputValue);
      });

      // Handle present button slider enter in input
      $('#presetValue').keypress(function (e) {
        var key = e.which;
        if(key == 13) {
          $('#presetButton').click();
          return false;
        }
      });

      // Handle joystick input
      setInterval(function(){
        //NEW CONTROL HANDLER

        var controls = controlHandler.parseControlsIfChanged();
        if(controls == null) return;
        //scaling each control based on sliders
        console.log(controls);
        $.each(controls, function(control, value){
          controls[control] = value * ($("#" + control).val()/100);
        });
        runPythonPOST("sendControlValues", JSON.stringify(controls), function(){});


        //OLD STUFF
        /*var joyValues = getNewJoystickValues();
        if(joyValues == false) {
          return;
        }
        else {
          runPythonPOST("joystickValue", JSON.stringify(joyValues), function(){
              console.log("new joystick values sent to server");
          });
        }*/
      }, 100);
    });
  </script>
</head>
<body>
  <div class="flex-container">
    <div class="column">
      <div class="card">
      <legend>Power in six degrees of freedom</legend>
      <br />
      <label for="surge">Surge <span id="outputsurge">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="surge" name="surge" orient="vertical">
      <label for="heave">Heave <span id="outputheave">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="heave" name="heave" orient="vertical">
      <label for="sway">Sway <span id="outputsway">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="sway" name="sway" orient="vertical">
      <label for="yaw">Yaw <span id="outputyaw">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="yaw" name="yaw" orient="vertical">
      <label for="pitch">Pitch <span id="outputpitch">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="pitch" name="pitch" orient="vertical">
      <label for="roll">Roll <span id="outputroll">50</span></label>
      <input type="range" min="0" max="100" value="50" step="10" class="slider" id="roll" name="roll" orient="vertical">
    </div>
    </div>
    <br />
    <div class="column">
      <div class="card">
        <legend>Power sliders quick set</legend>
        <br />
        <input type="text" id="presetValue" placeholder="Value">
        <button type="button" id="presetButton" class="button">Set Slider Values</button>
      </div>
      <br />
      <br />
      <div class="card">
        <legend>Count down timer</legend>
        <br />
        <div>
          Run ends in <span id="timerText">00:00</span> minutes
          <button type="button" id="startTimer" class="button">Start timer</button>
        </div>
      </div>
      <br />
      <br />
      <div class="card">
        <legend>Profile Select</legend>
        <select class="profile-select"></select>
        <button onclick="controlHandler.setGamepads();">Map Gamepads</button>
      </div>
    </div>
  </div>
  <br/>
  <!--<div class="eer-logo-img footer"></div>-->
  <div class="snackbar notification" id="notification"></div>
</body>
</html>
