<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static', filename='../js/jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='../js/guidepth.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../css/guidepth.css')}}">

</head>

<body>
<h2>Javascript it uh, does stuff</h2>

<button class="button" id="up" onclick="decrement()">↑</button>
<button class="button" id="surface" onclick="surface()">SURFACE</button>
<br>
<p id="depthDisplay"></p>
<button class="button" id="down" onclick="increment()">↓</button>
<button class="button" id="bottom" onclick="bottom()">BOTTOM</button>
<br>
<br>
<button class="button" id="go" onclick="lockdepth()">GO</button>
<button class="button" id="unlock" onclick="unlock()">UNLOCK</button>
<br><br>
<div class="parent">
<img class="bg" id="base" src="depth.png" width="200">
<img class="flo" id="flo" src="flo.png" width="40">
<canvas id="dot" class="dot" width="20" height="20"></canvas>
</div>
</body>
</html>

