<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"  />

        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/EER2019.js')}}" type="text/javascript"></script>
        <script>
            //Test repeating function for getting values from python
            setInterval(function(){
                runPythonGET("testGetPressure", null ,function(data){
                    $("#testPressure").html(data);
                });
            }, 100);
        </script>
    </head>
    <body>
        <div class="eer-logo-img"></div>
        <br/>

        <p>Hey sup this is Troake! So this is just a test page I had set up. Below is a test thingy I made for value indicators. The example below is GETing a psuedo pressure value from the server each tick. Also below is a link to the profile edit page</p>

        <div class="status-value-container">
            <div class="status-value status-value-outer">
                <div class="status-value status-value-inner">
                    <p id="testPressure">Text</p>
                    <div class="aaa"><div></div></div>
                </div>
            </div>
        </div>

        <a href="editprofile"><h3>Profile Edit</h3></a>
        <a href="gui"><h3>Gui Test</h3></a>
    </body>
</html>
