<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notifications Test</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css"  />

        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/EER2019.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/NotificationHandler.js')}}" type="text/javascript"></script>
        <script>
            var NOTIFICATIONHANDLER;

            $(document).ready(function(){
                NOTIFICATIONHANDLER = new NotificationHandler();
                NOTIFICATIONHANDLER.setSnackbar("testGood");
                NOTIFICATIONHANDLER.start();
            });
            

            function f(){
                runPythonPOST("postNotification", null, function(){});
            }
        </script>
    </head>
    <body>
        <div class="snackbar notification info" id="testGood"></div>

        <button class="button" onclick="f();">Send Notification</button>
    </body>
</html>