.grid{
    margin: 0 auto;
}

.grid-item{
    /*border: 2px solid red;
    border-radius: 15px;*/
    min-width: 300px;
    float: left;
    padding: 20px;
    margin-bottom: 20px 0;
    max-width: 350px;
    position: absolute;
    top: 0;
    left: 0;

}

.item-content{
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    min-height: 100px;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.3);
    padding: 40px ;
    text-align: center;
}