.grid {
    margin: 0 auto;
}

.grid-item {
    /*border: 2px solid red;
    border-radius: 15px;*/
    min-height: 200px;
    float: left;
    padding: 20px;
    margin: 20px 0;
    max-width: 450px;
    position: absolute;
    top: 0;
    left: 0;

}

.grid-item.init {
    transition-property: left, top;
    transition-duration: 0.5s;
}
/*
.item-content{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgb(0,0,0,0.3);
}*/

canvas {
    width: 100% !important;
    height: 200px !important;
    border-radius: 15px 15px 0px 0px;
}

.data-indicator {
    display: inline-block;
    font-size: 64px;
    margin: 0 10px;
}

.data-indicator[value-type='ping']::after {
    content: 'ms';
    font-size: 24px;
}

.data-indicator[value-type='temp']::after {
    content: 'o';
    font-size: 24px;
    vertical-align: top;
}

.data-indicator[value-type="meters"]::after{
    content: "m";
    font-size: 24px;
}

.data-indicator[value-type="kpa"]::after{
    content: "kPa";
    font-size: 24px;
}