.grid{
    margin: 0 auto;
}

.grid-item{
    /*border: 2px solid red;
    border-radius: 15px;*/
    min-height: 200px;
    float: left;
    padding: 20px;
    margin-bottom: 20px 0;
    max-width: 350px;
    position: absolute;
    top: 0;
    left: 0;

}

.grid-item.init{
    transition-property: left, top;
    transition-duration: 0.5s;
}

.item-content{
    position: relative;
    min-height: 170px;
   /* text-align: center;*/
}

    .item-content .date-modified{
        position: absolute;
        top: -2px;
        right: 10px;
        font-size: 18px;
    }

    .item-content .date-modified:before{
        content: 'Modified: ';
        font-size: 12px;
    }

    .item-content .btn-container{
        text-align: center;
        margin-top: 10px;
    }

    .item-content .gamepad-count:after{
        content: ' gamepads';
        font-size: 16px;
    }

#profileCount:after{
    content: ' profiles';
    font-size: 22px;
}

#fileSize:after{
    content: ' kb';
    font-size: 22px;
}


/**

EDIT PAGE


*/

#popupAddGamepad{
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 200px;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

    #popupAddGamepad div{
        border-radius: 15px;
        margin: 5px 0px;
        border: 1px solid rgb(50,50,50);
        padding: 15px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
        cursor: pointer;
        transition: 0.3s;
    }

    #popupAddGamepad div:hover{
        background-color: rgb(250,250,255);
        transform: scale(1.05);
    }

.overflow{
    overflow: visible;
}

.hidden{
    display: none;
}

#gamepadCount:after{
    content: ' gamepads';
    font-size: 14px;
}

.relative{
    position: relative;
}

.panel{
    margin: 10px 0;
    transition: 0.5s;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.gamepad-id{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
}

.panel.init{
    position: absolute;
    top: 0px;
    left: 0px;
}

.panel-gamepad .item-content{
    padding-top: 30px;
}


    .panel-gamepad .row{
        margin-bottom: 20px;
    }

    .panel-gamepad .control-group{
        display: inline-block;
        width: 40%;
        white-space: nowrap;
    }

    .panel-gamepad .control-group.axes{
        width: 100%;
    }

    .panel-gamepad select{
        width: 100px;
    }

.center .btn{
    margin: 5px;
}
