<!DOCTYPE html>
<html>
    <body>
        <title>Edit Profiles</title>
        <link href="static/css/controlProfileEdit.css" rel="stylesheet" type="text/css"/>
        
        
        <script>
            var PROFILEHANDLE;
            
            $dash.pageLoad(function(){
                PROFILEHANDLE = new ProfileHandler();
                PROFILEHANDLE.onProfilesLoaded = function(profiles){
                    profiles.forEach(function(profile){
                        console.log("fdsfds");
                        $("#profileInsert").append("<div class='grid-item profile-container'><p class='date-modified'>n/a</p><h3 class='name'>"+profile.name+"</h3><p class='gamepad-count'>"+profile.gamepads.length+"</p><button class='btn btn-primary' onclick='editProfile_click("+profile.id+")'>Edit</button><button class='btn btn-danger' onclick='deleteProfile("+profile.id+")'>Delete</button></div>");
                    });
                }

                $(".grid").masonry({
                    itemSelector: ".grid-item",
                    //columnWidth: ".col-sm-3",
                    percentPosition: true
                });
            });

            
            function editProfile_click(id){
                $dash.navigate("dashboard/editProfile?id="+id);
            }
            

            /**addGamepadInfo
             * 
             *  generates and appends html for the edit panel of a gamepad
            */
            

            /** newProfile_click
             * 
             *      resets the profile edit menu and sets the profileToEdit to a fresh, new profile
             * 
            */
            function newProfile_click(id){
                clearProfileEdit();
                profileToEdit = {"name":"", "id": PROFILEHANDLE.getNextId(), "gamepads":[]};
            }
            
            

            

                        //sends POST to server to delete a profile
            function deleteProfile(id){
                runPythonPOST("deleteProfile", JSON.stringify({profileId:id}), function(){
                    location.reload();
                });
            }
        </script>

        <div class="grid" id="profileInsert">
            <div class="grid-sizer"></div>

        </div>

        <div id="panelSelectProfile">
            <div class="profile-select-container">
                {% for profile in profiles %}
                    <div class="profile-panel">
                        <p>{{profile["name"]}}</p>
                        <button class="btn btn-primary modal-trigger" modal-id="modalEditProfile" onclick="editProfile_click({{profile['id']}})">EDIT</button>
                        <button class="btn btn-danger" onclick="deleteProfile({{profile['id']}})">DELETE</button>
                    </div>
                {% endfor %}
                <div class="profile-panel">
                    <p>New Profile</p>
                    <button class="btn btn-primary modal-trigger" modal-id="modalEditProfile" onclick="newProfile_click();">NEW</button>
                </div>
            </div>
        </div>

    </body>
</html>
