<!DOCTYPE html>
<html>

<body>
    <title>Edit Profiles</title>
    <link href="static/css/dashboard/profileManagement.css" rel="stylesheet" type="text/css" />


    <script>
        var PROFILEHANDLE;

        $dash.pageLoad(function () {
            PROFILEHANDLE = new ProfileHandler();
            PROFILEHANDLE.onProfilesLoaded = function (profiles) {
                $("#profileCount").html(profiles.length);
                $("#fileSize").html(Math.round(PROFILEHANDLE.fileSize / 1000 * 100) / 100);
                profiles.forEach(function (profile) {
                    $("#profileInsert").append(
                        "<div class='grid-item col-lg-3 col-md-6 init'><div class='item-content'><p class='date-modified'>" +
                        (profile.modified != null ? profile.modified : 'n/a') +
                        "</p><h2 class='name'>" + profile.name +
                        "</h2><h4 class='gamepad-count'>" + profile.gamepads.length +
                        "</h4><div class='btn-container'><button class='btn btn-primary' onclick='editProfile_click(" +
                        profile.id +
                        ")'>Edit</button><button class='btn btn-danger' onclick='deleteProfile(" +
                        profile.id + ")'>Delete</button></div></div></div>");
                });

                $(".grid").masonry({
                    itemSelector: ".grid-item",
                    isAnimated: false,
                    percentPosition: true
                });

                setTimeout(function () {
                    $(".grid-item.init").toggleClass("init", false);
                }, 600);
            }

        });


        function editProfile_click(id) {
            $dash.navigate("dashboard/editProfile?id=" + id);
        }


        /**addGamepadInfo
         * 
         *  generates and appends html for the edit panel of a gamepad
         */


        /** newProfile_click
         * 
         *      resets the profile edit menu and sets the profileToEdit to a fresh, new profile
         * 
         */
        function newProfile_click(id) {
            $dash.navigate("dashboard/editProfile");
        }





        //sends POST to server to delete a profile
        function deleteProfile(id) {
            runPythonPOST("deleteProfile", JSON.stringify({
                profileId: id
            }), function () {
                location.reload();
            });
        }
    </script>

    <div class="grid" id="profileInsert">
        <div class="grid-sizer"></div>
        <div class="grid-item init col-lg-3 col-md-6">
            <div class="item-content left">
                <h1 id='profileCount'></h1>
                <h1 id="fileSize"></h1>
            </div>
        </div>
        <div class="grid-item init col-lg-3 col-md-6">
            <div class="item-content center">
                <h3>Create New Profile</h3>
                <button class="btn btn-primary" onclick="newProfile_click();">Create New</button>
            </div>
        </div>
    </div>

</body>

</html>