<body>
    <script src="static/js/lib/masonry.pkgd.min.js"></script>
    <script src="static/js/lib/Chart.min.js"></script>
    <script src="static/js/dashboard/information/graph.js"></script>
    <link href="static/css/dashboard/information.css" rel="stylesheet" type='text/css' />
    <script>
        
        var graphs = [];

        $dash.animation.onPageOpen = function(){
            initGraphs();
            $(".grid").masonry({
                itemSelector: ".grid-item",
                //columnWidth: ".col-sm-3",
                percentPosition: true
            });
        };

        function initGraphs(){
            //graphs.push(new Graph("pi1Ping", "piGraph2"));
            //graphs.push(new Graph("pi1Ping", "piGraph3"));
            graphs.push(new Graph("pi1Ping", "piGraph1"));

            setInterval(function(){
                graphs.forEach(function(g){
                    var n = Math.random() * 3 + 20;
                    g.addData(n);
                    $(".data-indicator[value-type='ping']").html(Math.floor(n));
                });
            }, 50);
        }

    </script>

    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item col-lg-4 col-md-6">
            <div class="item-content">
                <canvas id="piGraph1" data-type='ping' data-ip="192.168.88.4"></canvas>
                <h1>Raspberry Pi 1</h1>
                <p>192.168.88.4</p>
                <h1 value-type='ping' class="data-indicator">20</h1>
                <h1 value-type="temp" class="data-indicator">32</h1>
            </div>
        </div>
    </div>
</body>