<body>
    <script>

        var themeToSet = "";

        $dash.pageLoad(function(){
            runPythonGET("themes/getnames", null, function(data){
                data.forEach(function(name){
                    $("#themeSelect").append("<option value='" + name + "'>" + cleanName(name) + "</option>");
                });

                themeToSet = $("option")[0].value;
                $("#themePreview").attr("src", "themes/preview?theme=" + themeToSet);
            });

            $("#themeSelect").change(function(){
                themeToSet = $("#themeSelect").val();
                $("#themePreview").attr("src", "themes/preview?theme=" + themeToSet);
            });
        });

        function setTheme(){
            runPythonPOST("themes/set", JSON.stringify({"theme": themeToSet}), function(){});
            $("body").attr("theme", themeToSet);
        }

        function cleanName(name){
            name = name.charAt(0).toUpperCase() + name.slice(1);
            name = name.replace("-", " ").replace("_", " ");
            return name;
        }
    </script>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel margins">
                <h1>Select a Theme</h1>
                <select id="themeSelect"></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel margins center">
                <button class="btn btn-primary" onclick="setTheme();">Set Theme</button>
            </div>
        </div>
    </div>

    <div class="panel margins" >
        <h1>Theme Preview</h1>
        <iframe style="width: 100%; height: 500px;" id="themePreview" src=""></iframe>
    </div>
</body>