/*
    GENERAL
*/

body[theme='@theme'] p{
    color: white;
}

body[theme='@theme'] h1{
    color: white;
}

body[theme='@theme'] h2{
    color: white;
}

body[theme='@theme'] h3{
    color: white;
}

body[theme='@theme'] h4{
    color: white;
}

body[theme='@theme'] h5{
    color: white;
}

body[theme='@theme'] h6{
    color: white;
}

body[theme='@theme'] input[type="text"]{
    background-color: #515456;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(60, 168, 255);
    box-shadow: 0px 0px 3px rgba(60, 168, 255, 1);
}

body[theme='@theme'] select{
    padding: 5px 20px 5px 5px;
    background-color: #515456;
    color: white;
    border: 1px solid rgb(60, 168, 255);
    box-shadow: 0px 0px 3px rgba(60, 168, 255, 0.5);
    border-radius: 5px;
    
}

    body[theme='@theme'] select option{
        padding: 5px 0px;
    }


/*
    EER GENERAL
*/

body[theme='@theme'] .eer-logo{
    filter: brightness(0.9);
}


/*
    GRAPHS
*/

body[theme='@theme'] .graph{}

body[theme='@theme'] .graph-primary{}

body[theme='@theme'] .graph-secondary{}

body[theme='@theme'] .graph-success{}

body[theme='@theme'] .graph-danger{}

body[theme='@theme'] .graph-warning{}

body[theme='@theme'] .graph-info{}

body[theme='@theme'] .graph-light{}

body[theme='@theme'] .graph-dark{}


/*
    SPINNER
*/

body[theme='@theme'] .spiner{}





/*
    _____            _     _                         _ 
    |  __ \          | |   | |                       | |
    | |  | | __ _ ___| |__ | |__   ___   __ _ _ __ __| |
    | |  | |/ _` / __| '_ \| '_ \ / _ \ / _` | '__/ _` |
    | |__| | (_| \__ \ | | | |_) | (_) | (_| | | | (_| |
    |_____/ \__,_|___/_| |_|_.__/ \___/ \__,_|_|  \__,_|
                                                        
*/

body[theme='@theme'] #pageBody{
    background-color: #33393b
}

body[theme='@theme'] .sidebar{
    background-color: #232627;
    padding: 0px !important;
}

body[theme='@theme'] .btn-nav{}

    body[theme='@theme'] .btn-nav .background{
        border-radius: 0px !important;
    }
    
    body[theme='@theme'] .btn-nav p{
        color: #8e8e8e;
    }

    body[theme='@theme'] .btn-nav svg{
        max-width: 100px;
    }

    body[theme='@theme'] .btn-nav path{
        fill: #8e8e8e;
    }

body[theme='@theme'] .btn-nav.active{}

    body[theme='@theme'] .btn-nav.active .background{
        background-color: #363a3c;
    }

    body[theme='@theme'] .btn-nav.active p{
    }

    body[theme='@theme'] .btn-nav.active path{
    }

body[theme='@theme'] .panel{
    background-color: #33393b;
    border: none !important;
    box-shadow: none !important;
}

    body[theme='@theme'] .panel p{}

    body[theme='@theme'] .panel h1{}

    body[theme='@theme'] .panel h2{}

    body[theme='@theme'] .panel h3{}

    body[theme='@theme'] .panel h4{}

    body[theme='@theme'] .panel h5{}

    body[theme='@theme'] .panel h6{}

    body[theme='@theme'] .panel.panel-graph{
        text-align: center;
    }


    body[theme='@theme'] .panel-gamepad{
        max-width: 1000px;
        flex: none;
        margin: 25px auto;
        box-shadow: 0px 15px 20px -20px rgba(255, 255, 255, 0.5);
    }

    body[theme='@theme'] .panel-gamepad:last-child{
        box-shadow: none !important;
    }


    /*  External Page Header  */
    body[theme='@theme'] .dashboard-header .head-content{}


/*

    GRID

*/

    body[theme='@theme'] .grid-item.profile{
        padding: 0px;
        max-width: none !important;
        width: 100% !important;
    }


/*
  ____              _       _                   
 |  _ \            | |     | |                  
 | |_) | ___   ___ | |_ ___| |_ _ __ __ _ _ __  
 |  _ < / _ \ / _ \| __/ __| __| '__/ _` | '_ \ 
 | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) |
 |____/ \___/ \___/ \__|___/\__|_|  \__,_| .__/ 
                                         | |    
                                         |_|   
*/

/*
    ALERTS
*/

body[theme='@theme'] .alert{}

body[theme='@theme'] .alert-primary{}

body[theme='@theme'] .alert-secondary{}

body[theme='@theme'] .alert-success{}

body[theme='@theme'] .alert-danger{}

body[theme='@theme'] .alert-warning{}

body[theme='@theme'] .alert-info{}

body[theme='@theme'] .alert-light{}

body[theme='@theme'] .alert-dark{}


/*
    BADGE
*/


body[theme='@theme'] .badge{}

body[theme='@theme'] .badge-primary{}

body[theme='@theme'] .badge-secondary{}

body[theme='@theme'] .badge-success{}

body[theme='@theme'] .badge-danger{}

body[theme='@theme'] .badge-warning{}

body[theme='@theme'] .badge-info{}

body[theme='@theme'] .badge-light{}

body[theme='@theme'] .badge-dark{}


/*
    BUTTONS
*/


body[theme='@theme'] .btn{
    border-radius: 0px !important;

}

    body[theme='@theme'] .btn:hover{
        filter: brightness(0.8);
        transition: 0.3s;
    }

body[theme='@theme'] .btn-primary{ 
    background-color: #3679c1;
    border-color: #3679c1;
}

body[theme='@theme'] .btn-secondary{}

body[theme='@theme'] .btn-success{}

body[theme='@theme'] .btn-danger{
    background-color: #ab3f49;
    border-color: #ab3f49;
}

body[theme='@theme'] .btn-warning{}

body[theme='@theme'] .btn-info{}

body[theme='@theme'] .btn-light{}

body[theme='@theme'] .btn-dark{}
