#login{
    position: absolute;
    width: 100%;
    height: 100%;
}

    #login div{
        margin: 100px auto;
        vertical-align: middle;
        width: 300px;
        text-align: center;
    }

    #login input{
        width: 80%;
        padding: 5px;
        margin: 10px 0px;
    }

#page{

}

#topsides-global{
    
}

    .input-group{
        display: inline-block;
        margin: 10px;
    }

    .input-group *{
        display: inline;
    }