

/*------------         PROFILE SELECT        --------------*/

.profile-select-container{
    text-align: center;
    margin-top: 100px;
    padding: 0px 50px;
}

    .profile-select-container h1{
        font-size: 48px;
        margin-bottom: 80px;
    }

.profile-panel{
    min-width: 200px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);

}

    .profile-panel p{
        margin: 5px 0;
        font-size: 18px;
        font-weight: bold;
    }

/*-------------------------------   PROFILE EDIT   --------------------------------------------*/

.panel-edit-profile{
    position: fixed;
    top: 50px;
    width: 60%;
    max-width: 1000px;
    left: 20%;
    height: 500px;
    transition: 0.5s;
    z-index: 5;
    background-color: aqua;
}

#panelEditProfile.hidden .panel-edit-profile{
    transform: translateY(100px);
    opacity: 0;
    z-index: -1;
}

.joystick-selector{
    clear: both;
}

