

/*------------         PROFILE SELECT        --------------*/

.profile-select-container{
    text-align: center;
    margin-top: 100px;
    padding: 0px 50px;
}

    .profile-select-container h1{
        font-size: 48px;
        margin-bottom: 80px;
    }

.profile-panel{
    min-width: 200px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);

}

    .profile-panel p{
        margin: 5px 0;
        font-size: 18px;
        font-weight: bold;
    }

/*-------------------------------   PROFILE EDIT   --------------------------------------------*/

.panel-edit-profile{
    position: fixed;
    top: 10%;
    width: 60%;
    max-width: 1000px;
    height: 80%;
    left: 20%;
    height: 500px;
    transition: 0.5s;
    z-index: 5;
    background-color: aqua;
}

#panelEditProfile.hidden .panel-edit-profile{
    transform: translateY(100px);
    opacity: 0;
    z-index: -1;
}

#modalEditProfile .modal-content{
    top: 10%;
    max-height: 80%;
    overflow-y: scroll;
}

.joystick-selector{
    clear: both;
}

.gamepad-selector{
    padding: 20px;
    border-radius: 25PX;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    transition: 0.3s;
    cursor: pointer;
}

.gamepad-selector:hover{
    background-color: rgb(240,240,240);
}

#joystick-selector-container{
    margin-top: 20px;
}

#joystick-selector-container .selector{
    display: inline-block;
    padding: 10px 10px;
    /* box-shadow: 2px 0px 10px -5px rgba(0,0,0,1); */
    border-color: rgba(80,80,80, 0.5);
    border-top: 1px solid rgba(80,80,80, 0.5);
    border-right: 1px solid rgba(80,80,80, 0.5);
    border-left: 1px solid rgba(80,80,80, 0.5);
    border-bottom: 1px solid rgba(80,80,80, 0.5);
    border-radius: 10px 10px 0 0;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -2px;
    background-color: rgb(255,255,255);
}

#joystick-selector-container .selector.active{
    border-bottom: none;
}

.gamepad-edit{
    padding: 50px;
    display: none;
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0,0,0,0.5);
    text-align: center;
}

.gamepad-edit.visible{
    display: block;
}

.control-group{
    margin: 10px;
}

.control-group.buttons{
    display: inline-block;
}

    .control-group p{
        display: inline-block;
        margin-right: 5px;
    }

    .control-group p.triggered{
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .control-group select{
        display: inline-block;
    }

.control-type-group{
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
}