body, html{
    height: 100%;
}

#pageBody{
    overflow-y: auto;
}

.sidebar{
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.eer-logo{
    height: 160px;
}

.background-full{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav{
    position: relative;
}

.btn-nav{
    position: relative;
    height: 100px;
    margin: 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0px;
}

.btn-nav .background{
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    width: 100%;
    position: absolute;
    border-radius: 15px;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.btn-nav.active .background{
    opacity: 1;
}

.btn-nav:hover{
    transform: scale(1.05);
}


.btn-nav p{
    margin: 0;
}

.btn-nav svg{
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .btn-nav .text{
        display: none;
    }
}

.btn-nav path, .btn-nav .text{
    transition: 0.5s;
}

.nav-svg path{
    width: 100%;
}


/*

EXTENRAL PAGE HEADER

*/

.dashboard-header{
    width: 100%;
    position: absolute;
    height: 75px;
    z-index: 10000;
}

.dashboard-header .head-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -75px;
    transition: 0.3s;
    padding: 10px 40px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.dashboard-header:hover .head-content{
    top: 0px;
}

.dashboard-header .dashboard-logo{
    height: 100%;
}


.btn:disabled{
    filter: brightness(0.6);
    opacity: 1;
}

.hide{
    display: none !important;
}

#loadingSpinner{
    position: fixed;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
}

.panel{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgb(0,0,0,0.3);
    padding: 20px 20px;
}

.panel.no-padding{
    padding: 0px;
}

.panel.margins{
    margin: 20px;
}

.center{
    text-align: center;
    justify-content: center;
}