body, html{
    height: 100%;
}

#pageBody{
    background-color: #f2f2f2;
    overflow-y: auto;
}

.sidebar{
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.eer-logo{
    height: 160px;
}

.background-full{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav{
    position: relative;
}

.btn-nav{
    position: relative;
    height: 100px;
    margin: 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0px;
}

.btn-nav .background{
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    width: 100%;
    position: absolute;
    border-radius: 15px;
    height: 100%;
    background: rgba(31,128,207,1);
    background: linear-gradient( to right, rgb(36, 143, 230), rgb(89, 180, 233));
    opacity: 0;
    transition: 0.5s;
}

.btn-nav.active .background{
    opacity: 1;
}

.btn-nav:hover{
    transform: scale(1.05);
}


.btn-nav p{
    margin: 0;
}



.btn-nav path, .btn-nav .text{
    fill: #3f3f3f;
    color: #3f3f3f;
    transition: 0.5s;
}

.btn-nav.active path, .btn-nav.active p{
    fill: #ffffff;
    color: #ffffff;
    transition: 0.5s;
}


.nav-svg path{
    width: 100%;
}


/*

EXTENRAL PAGE HEADER

*/

.dashboard-header{
    width: 100%;
    position: absolute;
    height: 75px;
    z-index: 10000;
}

.dashboard-header .head-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -75px;
    transition: 0.3s;
    background-color: white;
    padding: 10px 40px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.dashboard-header:hover .head-content{
    top: 0px;
}

.dashboard-header .dashboard-logo{
    height: 100%;
}


.btn:disabled{
    filter: brightness(0.6);
    opacity: 1;
}

.hide{
    display: none !important;
}

#loadingSpinner{
    position: fixed;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
}