/* Background Image */
.gui-back {
    background-image: url("../res/img/background.jpg");
    background-size: cover;
}

/* Sliders */
.slider {
    height: 300px;
    width: 100px;
}

.pidSlider {
  height: 30px;
  width: 100px;
}

input[type=range][orient=vertical] {
    -webkit-appearance: slider-vertical;
}

label {
    display: inline-block;
    min-width: 80px;
}



/* Modal */
.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal .modal-content {
    width: 900px;
    min-height: 100px;
    margin: 30px auto;
    transition: 0.5s;
    transform: translateY(50px);
    padding: 15px;
    opacity: 0;
    background-color: white;
}

.modal-close {
    float: left;
    color: rgb(200, 200, 200);
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
    transform: scale(1.1);
}

.modal.visible {
    width: 100%;
    height: 100%;
}

.modal.visible .modal-content {
    transform: none;
    opacity: 1;
}

/* Other */
.black-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

#popupAssignGamepads {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

#assignGamepadsText {
    display: block;
    margin: auto auto;
    position: relative;
    z-index: 1;
    width: 400px;
    margin-top: 300px;
    padding: 30px;
    font-size: 24px;
}
