/* Main */
body {
    background-image: url("../res/img/background.jpg");
    background-size: cover;
    font-family: sans-serif;
}

/* Sliders */
.slider {
    opacity: 0.7;
    height: 300px;
    width: 100px;
}

.slider:hover {
    outline: none;
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #0000FF;
    border-color: transparent;
    cursor: pointer;
}

legend {
  font-weight: bold;
  text-align: center;
}

label {
  display: inline-block;
  min-width: 80px;
}

/* Inputs */
textarea {
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
    resize: none;
}

input[type=text] {
    width: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Buttons */
.button {
    opacity: 0.7;
    background-color: #0000FF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    opacity: 1;
}

/* Footer logo */
.eer-logo-img {
    background-image: url("../res/img/eer-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
}

/* Layout */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
    padding: 20px 20px;
}

.card {
  border-style: solid;
  border-width: 20px;
  border-color: #fff;
  background-color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
