@font-face{
    font-family: Roboto;
    font-weight: normal;
    src: url("font/Roboto/Roboto-Regular.ttf");
}

@font-face{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    src: url("font/Roboto/Roboto-Italic.ttf");
}

@font-face{
    font-family: Roboto;
    src: url("font/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    font-style: italic;
    src: url("font/Roboto/Roboto-BoldItalic.ttf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto;
    src: url("font/Roboto/Roboto-Black.ttf");
    font-weight: bolder;
}

@font-face{
    font-family: Roboto;
    font-style: italic;
    src: url("font/Roboto/Roboto-BlackItalic.ttf");
    font-weight: bolder;
}

@font-face{
    font-family: Roboto;
    src: url("font/Roboto/Roboto-Thin.ttf");
    font-weight: lighter;
}

@font-face{
    font-family: Roboto;
    font-style: italic;
    src: url("font/Roboto/Roboto-ThinItalic.ttf");
    font-weight: lighter;
}


p, h1, h2, h3, h4, h5, h6{
    font-family: "Roboto";
}

.btn{
    padding: 8px 12px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.btn-primary{
    color: white;
    background-color: rgb(86, 151, 255);
}

.btn-danger{
    color: white;
    background-color: rgb(255, 66, 66);
}

.black-overlay{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);
}

.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

.modal .modal-content{
    width: 900px;
    min-height: 100px;
    margin: 30px auto;
    transition: 0.5s;
    transform: translateY(50px);
    padding: 15px;
    opacity: 0;
    background-color: white;
}

.modal-close{
    float: left;
    color: rgb(200,200,200);
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover{
    color: rgb(150,150,150);
    cursor: pointer;
    transform: scale(1.1);
}

.modal.visible{
    width: 100%;
    height: 100%;
}

.modal.visible .modal-content{
    transform: none;
    opacity: 1;
}

.input-text{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
