.eer-logo-img{
    background-image: url("../res/img/eer-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.status-value{
    border-radius: 50%;


}

    .status-value-inner{
        width: 70%;
        height: 72.67%;
        display: inline-block;
        vertical-align: middle;
        background-color: #515151;
        border: 2px solid #4c4c4c;
        color: white;
        text-align: center;
    }

    .status-value-outer{
        position: relative;
        width: 150px;
        height: 150px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        background-color: #3b83cc;
        padding: 0 !important;
    }

.status-value-container{
    overflow: hidden;
}

.aaa{
    position: absolute;
    height: 28%;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.aaa div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 357%;
    border-radius: 0 0 50% 50%;
    background-color: #515151;
}
